This is the form.

= form_for @post, html: {class: "post_form"} do |f|
  .form_field
    = f.label :title, "Title"
    = f.text_field :title
  .form_field
    = f.label :body, "Post Content"
    = f.text_area :body, size: "100x10"
  .form_field
    = f.label :excerpt, "Excerpt"
    = f.text_area :excerpt, size: "100x5"
  = f.submit
